.search-container {
  width: 100%;
  padding: 1.4rem 0 0.8rem;
  border-bottom: 1px solid #e3e3e3;
}
.search {
  display: flex;
  justify-content: space-evenly;
  max-width: 30rem;
  margin: 0 auto;
  input {
    margin-right: 0.5rem;
    border: 1px solid darken($color: #e3e3e3, $amount: 10%);
    border-radius: 0.25rem;
    padding: 0.4rem;
    width: 70%;
  }
  button {
    background: #3093e5;
    border: 1px solid #e3e3e3;
    border-radius: 0.25rem;
    width: 20%;
    color: #fff;
  }
}
